<h1>Listing toppings</h1>
 
<table>
  <tr>
    <th>Name</th>
  </tr>
 
  <% @toppings.each do |topping| %>
    <tr>
      <td><%= topping.name %></td>
      <td><%= link_to 'Show', topping_path(topping) %></td>
      <td><%= link_to 'Edit', edit_topping_path(topping) %></td>
      <td><%= link_to 'Delete', topping_path(topping),
              method: :delete,
              data: { turbo_method: :delete  } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New topping', new_topping_path %>
<%= link_to 'Back', '/' %>